body{
    margin: 0;
   
}


.header{
    
    background: linear-gradient(to right, rgb(0,62,51), rgb(3,106,71));
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-between;
    /*padding: 0 20px;*/
    flex-wrap: wrap;
    font-size: 15;
   
}

@media(max-width: 1681px) {
    .header{
        display: flex;
        flex-wrap: wrap;
        height: 100px;
       
    }        
    
    .nav2{
        display: flex;
        flex-wrap: wrap;
        
    }
}

@media(max-width: 789px) {
    .header{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
       
    }        
    
    .nav2{
        display: flex;
        flex-wrap: wrap;
        
    }
}

.loca::before{
    content: "";
   display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(img/icons8-location-50.png) ;
    background-size: contain;
    position: relative;
    top: 7px;
}

.loca{
    font-family: cursive;
}

.location{
    color:  rgb(255,250,238); 
   /* margin-right: 20px;
   margin-left: 20px; */
   
   
}


.msa7a1{
    display: flex;
    flex-direction: row;
    width: 10%;
}
.msa7a2{
    display: flex;
    flex-direction: row;
    width: 17%;
}

img{
    background-color: none;
    margin-left: 10px;

}

.searchbar img{
    background-color: rgb(169,23,111); 
    margin-left: 0;
    border-radius: 5px;

}

.searchbar img:hover{
    background-color: rgb(100, 5, 62); 
}
.searchbar:hover{
      background-color: rgb(100, 5, 62); 
}
.searchbar{
    padding: 9px;
      background-color: rgb(169,23,111);
      border-radius: 5px; 
}



.logo{
    height: 40px;
}


select{
   background-color: rgb(3,106,71);
    color:  rgb(255,250,238);
    border: 0;
    height: 37px;
    border-radius: 5px;
}


.section{
    margin-left: 40px;
    color: rgb(255,250,238);
  
}



.search{   
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 0;
   width: 70%;
} 



/* .search:hover{   
    height: 3rem;
   box-shadow: 0 6px 15px rgba(0,0,0,0.25);;
} */

#search2{
    width: 100%;
    /* max-width: 1200px; */
    height: 40px;
   border-radius: 5px;
   padding: 0;
   margin: 0;
   
}



 .nav2{
    background-color: rgb(8,87,73);
    /*position: fixed;
    top: 45px;
    left: 0;*/
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    color:  rgb(255,250,238);
    
 }


 .nav2 button{
    color:  rgb(255,250,238);
    border: 0 ;
    margin-left: 30px;
    background-color: rgb(8,87,73);
    font-size: 15px;
 }

  .nav2 button:hover{
    border: 1px solid rgb(255,250,238);
    box-shadow: 10px;
    padding: 8px;
 }



 .anav{
    color: rgb(255,250,238);
    text-decoration: none;
 }

  a{
    color: rgb(43,105,165);
    text-decoration: none;
 }

.section3{
    color: rgb(255,250,238);
    margin-left: 20px;
 }

 .section3::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(icons8-buy-32.png);
    background-size: contain;
    position: relative;
    top: 7px;
 }



.all{
    font-family: cursive;
}
span{
    margin-right: 5px;
} 

#lang{
    width: 40px;
}


.a3lan{
    display: flex;
    height: 55px;
    border: 1px solid rgb(184, 179, 179);
    margin-top: 13px;
    justify-content: center;
    
   
}

.pa3lan a{
   align-content: center;
   position: relative;
   color: black;
   margin-right: 448px;
}

.pa3lan{
    align-content: center;
} 

.olevsweb {
    
    margin-left: 46px;
   align-content: center;
}

.olevsweb a{
   color: rgb(96,166,179);
   font-size: small;
}

.items{
    color: rgb(113,89,89);
    
}
.items:hover{
    text-decoration:underline;
}

.pi {
    margin-top: 31px;
    margin-bottom: 35px;
    display: flex;
    margin-left: 495px;
}

.Watchinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

div{
    display: flex;
    flex-direction: column;
}

.part img{
    height: 50px;
    width: 33px;
    border: 1px solid rgb(214, 209, 209);
    margin: 5px;
  
}

.part2 img{
    background: linear-gradient(to bottom, white , rgb(234,234,234));
    height: 524px;
    width: 331px;
    margin-left: 55px;
    position: sticky;
    left: 0;
    top: 0;
    padding-left: 100px;
    padding-right: 98px;
}

 .part img:hover{
    position: relative;
    left: 750px;
    
    transform: scale(8);
} 


 div .wp1:hover{
    
    top: 150px;
    transform: scale(8);
}
/*
div .wp2:hover{
    position: relative;
    left: 200px;
    top: 65px;
    transform: scale(8);
}

div .wp3:hover{
    position: relative;
    left: 200px;
    top: 16px;
    transform: scale(8);
}

div .wp4:hover{
    position: relative;
    left: 200px;
    bottom: 10px;
    transform: scale(8);
}


div .wp5:hover{
    position: relative;
    left: 200px;
    bottom: 100px;
    transform: scale(8);
}


div .wp6:hover{
    position: relative;
    left: 200px;
    bottom: 130px;
    transform: scale(8);
} */


.part3{
    width: 600px;
    margin-left: 50px;
}



.part3 a{
    color: rgb(33,98,161);
}


.part3 h2{
    color: rgb(86,89,89);
    margin-bottom: 8px;
}

.star:hover{
    border: 2px solid  rgb(159, 160, 160);
    border-radius: 10px;
    padding: 2px;
}

.rate:hover{
    text-decoration: underline;
 }


 .color{
    /* display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;


 }

 .color img{
    width: 40px; 
    height: 59px;
  
 }

 .side {
    border: 1px solid rgb(136,140,140);
    border-radius: 9px;
    padding: 5px;
    width: 70px;
    font-size: 12;
 }

.nl{
    border: 3px solid rgb(33,98,161);
 }
 .side.nl:hover{
     border: 2px solid rgb(33,98,161);
 }

.front {
    border: 1px solid rgb(136,140,140);
    border-radius: 9px;
    padding: 5px;
    width: 70px;
    font-size: 12;
    width: 66px;
 }

 .n7 img{
    width: 70;
    position: relative;
    right: 13px;
 }

 .n9 img{
    width: 70px;
    position: relative;
    right: 13px;
 }



 .side:hover{
    border: 1px solid rgb(33,98,161);;
    cursor: pointer;
 }


 .front:hover{
    border: 1px solid blue;
    cursor: pointer;
 }


 .side:active{
    border: 3px solid rgb(33,98,161);
 }

 .front:active{
    border: 3px solid rgb(33,98,161);
 }

 hr{
    margin-top: 10px;
    
 }

 .line{
    color: rgb(200,201,201);
    margin-left: 20px;
    margin-right: 20px;
 }
 
 

.sponser img{
    height: 110px;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.sponser{
    margin-top: 17px;
    margin-bottom: 3px;
    height: 130px;
    width: 555px;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   border: 1px solid rgb(202,206,206);
   border-radius: 5px;
   background: linear-gradient(to bottom , rgb(255,255,255) ,rgb(243,243,243));
}

.sponser:hover{
    cursor: pointer;
}

.stars{
    display: flex;
    margin-left: 18px;
    
}
.lastsp{
    color: rgb(99,99,99);
    
}

.lastsp:hover{
    cursor: pointer;
    color: black;
}

.lastsp img{
    position: relative;
    right: 10px;
    top: 2px;
}


.dtpt{
    font-size: small;
    width: 122px;
    display: flex;
    flex-wrap: wrap;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#quantity{
    width: 207px;
    height: 31;
    background-color: rgb(240,242,242);
    color: black;
    margin: 10px;
}


/* .part4{
     width: 245px;
    border: 1px solid rgb(213,217,217); 
} */


.boox1{
    border: 1px solid rgb(213,217,217);
    height: 760px;
    width: 245px;
    border-radius: 10px;
}

.boox1 p{
    color: rgb(96,99,99);
    margin-left: 13px;
}


.buybutt{
    border-radius: 20px;
}

.buybutt button:hover{
    cursor: pointer;
}

.add{
    border: 0 solid black;
    border-radius: 20px;
    margin-left: 18px;
    margin-right: 18px;
    background-color: rgba(255, 216, 20);
    height: 32px;
    font-size: 13px;
}

.add:hover{
    background-color: rgb(211, 179, 19);
}

.buy{
    border: 0 solid black;
    border-radius: 20px;
    margin-left: 18px;
    margin-right: 18px;
    background-color: rgb(255,164,28);  
    height: 32px;
    font-size: 13px;
}

.buy:hover{
    background-color: rgb(224, 134, 0);
}

.check{
    color: rgb(15,17,17);
}

.addlistb{
     border: 1px solid rgb(33,98,161);
    background-color: rgb(237,248,255);
    border-radius: 10px;
    height: 31px;
    width: 208px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.addlistb:hover{
    background-color: rgb(227, 232, 236);
    cursor: pointer;
}

.a3lan2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 245px;
    height: 325px;
    margin-top: 30px;
    border: 1px solid rgb(213,217,217);
    border-radius: 10px;
}

.a3lan2 img{
    padding-left: 45px;
    padding-top: 5px;

}

.sugg{
   display: grid;
   justify-content: center;
  
}

.flex{
    display: flex;
    flex-direction: row;
}


.suggs img {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    background: linear-gradient(to bottom, white , rgb(244,244,244));
}

.suggbuy p{
    grid-area: botton;
    margin-left: 60px;
}

.suggbuy button{
    width: 280px;
    height: 30px;
    border: 0 solid black;
    border-radius: 10px;
    background-color: rgb(255,216,20);
    align-content: center;
    margin-bottom: 35px;

}

.suggbuy button:hover{
    cursor: pointer;
    background-color: rgb(224, 134, 0);
}

.plus{
    position: relative;
    top: 76.5px;
    right: 8px;
    font-size: x-large;
    margin: 0;
    padding: 0;
}


.sugasid{
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    position: relative;
    bottom: 20px;
    left: 20px;
}

.sugasid img{
   position: relative;
   right: 25px;
   top: 16px;
}

.relatw{
    display: grid;
   justify-content: center;
}

.headsection{
   padding-left: 90px;
   
}

.headsection strong{
    font-size: 19px;
}




.picbox{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.picbox:hover{
    cursor: pointer;
}


.box{
    width: 180px;
    display: flex;
    flex-direction: column;
    width: 210px;
    position: relative;
        
    }

.box img{
    position: relative;
    right: 60;
}


.stars4{
    display: flex;
}

.redbox{
    border: 0 solid white;
    border-radius: 3px;
    background-color: rgb(204,12,57);
    color: white;
    position: relative;
    top: 5px;
    padding: 3px;
}

.blackbox{
     border: 0 solid white;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    top: 5px;
    padding: 3px;
    
}

.disc{
    color: rgb(215,62,98);
}

.arrow1{
    font-size:20px;
    width: 36px;
    height: 38px;
    position: relative;
    top: 80px; 
    right: 18px;
    border: 1px solid rgb(136,140,140);
    border-radius: 8px;
}

.arrowA{
    color: rgb(136,140,140);
    margin-left: 10;
    
}

.arrow2{
    font-size:20px;
    width: 36px;
    height: 38px;
    position: relative;
    top: 80px;
    right: 10px;
    border: 1px solid rgb(136,140,140);
    border-radius: 8px;
}

.primeimg{
    position: relative;
    top: 20px;
}


.morepic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more{
    height: 530px;
    width: 1350px;
}

.recmondation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(15,17,17);
    border: 0;
    border-radius: 15px;
    background-color: rgb(255,216,20);
    height: 30px;
    width: 380px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.recommbutton:hover{
    cursor: pointer;
    background-color: rgb(207, 172, 0);

}

.lastpart{
    display: flex;
    flex-direction: column;

}

.backtotop{
    align-content: center;
    background-color: rgb(12, 119, 83);
    height: 50px;
    width: 100%;
    color: white;
    border: 0;
}

.backtotop a{
     color: rgb(215,221,221);

}
.backtotop:hover{
    background-color: rgb(15, 151, 106);
    cursor: pointer;
}



.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    background-color: rgb(2,101,68);
    height: 380px;
}

.sides{
    margin-top: 45px;
    width: 208px;
    height: 280px;
}

.sides p{
    margin-bottom: -2px;
}

.sides a{
    color: rgb(215,221,221);
}

.sides a:hover{
    text-decoration: underline;
    
}

.setting{
    background-color: rgb(2,101,68);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
    height: 110px;
}

.setting img{
    margin-right: 82px;
}

.lang{
    color: aliceblue;
    height: 35px;
    width: 130px;
    border: 1px solid ;
    margin: 15px;
}
.lang:hover{
    cursor: pointer;
}

.currency{
    border: 1px solid;
    padding: 8px;
    border-radius: 4px;
    color: aliceblue;
}
.currency:hover{
    cursor: pointer;
}

.country{
    border: 1px solid;
    padding: 8px;
    border-radius: 4px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    margin: 15px;
}
.country:hover{
    cursor: pointer;
}

.country img{
    margin: 0;
    margin-right: 8px;
    margin-left: 4px;
    
}

.gridbox{
    padding-top: 28px;
    display: grid;
    grid-template-columns: repeat(7, 0fr);
    justify-content:  center;
    background-color: rgb(8,87,73);

}

.gr a{
    color: rgb(153,151,149);
    width: 120px;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: small;
}

.gr a:hover{
    text-decoration: underline;
}

.gr strong{
    color: rgb(215,212,215);
}

.final{
    display: flex;
    flex-direction: column;
    align-items:  center;
    background-color:rgb(8,87,73);

}

.lasta{
    color: aliceblue;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0;
}

.lst{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    font-size: small;
}

.lst a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.lasta4{
    margin-right: -5px;
}

.final p{
    padding: 0;
    margin-top: 0;
    position: relative;
    bottom: 15;
    color: aliceblue;
    font-size: small;
}

@media(max-width: 1500px) {
    .part4{
        margin-bottom: 320px;
    }
}
@media (max-width: 1200px) {

  .headsection{
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
  }

  .Watchinfo{
    flex-wrap: wrap;
    justify-content: center;
  }

  .part3{
    width: 60%;
    margin-left: 20px;
  }

  .part4{
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .container{
    flex-wrap: wrap;
    gap: 40px;
    height: auto;
  }

  .gridbox{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {

 
  .header{
    flex-wrap: wrap;
    height: auto;
    padding: 8px 10px;
  }

  .msa7a1,
  .msa7a2{
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .search{
    width: 100%;
    margin-top: 8px;
  }

  #search2{
    width: 100%;
  }

 
  .nav2{
    flex-wrap: wrap;
    height: auto;
    padding: 6px 8px;
    justify-content: center;
  }

  
  .a3lan{
    flex-wrap: wrap;
    height: auto;
    gap: 8px;
  }

  .pi{
    margin-left: 20px;
    flex-wrap: wrap;
  }

  
  .Watchinfo{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .part{
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 120px;
  }

  .part2 img{
    width: 260px;
    height: auto;
    padding: 0;
  }

  .part3{
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .boox1{
    width: 100%;
    max-width: 340px;
    margin-top: 20px;
  }

  
  .flex{
    flex-direction: column;
    align-items: flex-start;
  }

  .suggs{
    width: 100%;
    margin-bottom: 10px;
  }

  .suggbuy{
    margin-top: 20px;
  }

  
  .picbox{
    flex-wrap: wrap;
    justify-content: center;
  }

  .box{
    width: 45%;
    margin-bottom: 20px;
  }

  .arrow1,
  .arrow2{
    display: none;
  }

 
  .more{
    width: 100%;
    height: auto;
  }

  .more img{
    width: 100%;
    height: auto;
  }

  
  .container{
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {

  body{
    font-size: 14px;
  }


  .header{
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .msa7a1,
  .msa7a2{
    width: 100%;
  }

  .search{
    width: 100%;
    order: 3;
    margin: 8px 0;
  }

  select#lang{
    margin-top: 8px;
  }

  
  .nav2 button{
    margin-left: 10px;
    font-size: 13px;
  }

  .pi{
    margin-left: 10px;
    font-size: 13px;
  }

  
  .Watchinfo{
    flex-direction: column;
    align-items: center;
  }

  .part{
    flex-direction: row;
    max-width: 100%;
  }

  .part img{
    transform: none !important;
    position: static !important;
  }

  .part2,
  .part3,
  .part4{
    width: 100%;
    margin-left: 0;
  }

  .sponser{
    width: 100%;
  }

 
  .suggs img{
    padding-left: 0;
    padding-right: 0;
  }

  .plus{
    display: none;
  }

  .suggbuy p,
  .suggbuy button{
    width: 100%;
  }

  
  .container{
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 20px;
    gap: 10px;
  }

  .sides{
    width: 100%;
  }

  
  .setting{
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding: 10px 0;
  }

  .setting img{
    margin-right: 0;
    margin-bottom: 10px;
  }

  
  .gridbox{
    grid-template-columns: repeat(2, 1fr);
    padding-top: 16px;
  }

  .gr a{
    margin-right: 0;
  }

  .final .lst{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .final p{
    bottom: 0;
    margin-top: 10px;
  }
}


@media (max-width: 480px) {

  .nav2{
    justify-content: center;
  }

  .nav2 button{
    margin: 3px 6px;
    padding: 2px 4px;
  }

  .box{
    width: 100%;
  }

  .gridbox{
    grid-template-columns: 1fr;
  }

  .pi{
    font-size: 12px;
  }
}
